html, body {
  height: 100%;
} 
body{
    /*padding-top: 50px;*/
}

.landing-content a:hover {
    text-decoration: none!important;
    color:grey!important;
}


.landing-content a:link {
    text-decoration: none;
    color:white;
}

.landing-content a:visited {
    text-decoration: none;
    color:white;
}

.landing{
	height: 100vh;
	background-image: url(../../assets/img/bg1.jpg);
	background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center;
    /*height: 20em;*/
    width: 100%;
    position: relative;
    /*box-sizing: border-box;*/
    /*margin-bottom: 50px;*/
}

.landing-not-home{
    height:30vh;
}

.landing-inner{
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	width:100%;
	display: table;
}

.landing-content{
	vertical-align: middle;
    display: table-cell;
    text-align: center;
    color: white;
    padding: 0;
    /*padding-top: calc(100vh *0.4);*/ /*Get Rid of vertical align and use this to make the bottom control's height not affect original content's vertical align to centre*/
    margin: 0;
    box-sizing: border-box;
    font-weight: lighter;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 20px
}

.landing-content-control{
    vertical-align: top;
    display: table-row;
    height: 12%;
}

.landing-content-not-home{
    font-size: 15px
}

.topbar{
	background-color: rgba(0,0,0,0)!important;
	border-color: rgba(0,0,0,0)!important;

}

.topbar-sub-page{
    position: absolute;
    z-index: 1;
    width: 100%;
}

.whitefont{
	color:white!important;
	font-size: 18px;
}

.whitefont:hover{
	color:gray!important;
}

.sector{
	padding-top: 50px;
	background-color: lightblue;
}

.profile{
	max-width:100%;
    max-height:100%;
}

.mobile-img{
    width: 30%;
    height: 30%
}

.about-content-img{
	/*float:left;*/
	display: inline-block;
	padding-right: 20px;
    width: 30%;
    vertical-align:middle;
}

.about-content-text{
    /*float:left;*/
    display: inline-block;
    /*padding-right: 50px;*/
    width: 60%;
    vertical-align:middle;
}

.about-text{
    font-size: 20px;
}

.jumbotron {
    background-color: white;
}

.jumbotron-content-div{
    width: 90%;
    display: inline-table;
}
.jumbotron-ts-div{
    display: inline-table;
    float:right;
}
.jumbotron-ts-div span{
    font-size: 90%;
}
.thumbnail{
}

.project-content{
    font-size: 20px;
    width: 60%;
    margin: auto;
}
.project-content h1{
    text-align: center;
}
.cca-img{
    padding: 0px 10px 0px 10px;
}
.top-space{
    padding-top: 30px;
}
.bottom-space{
    padding-bottom: 30px;
}
.fa-icon{
    font-size: 1em;
    color:white;
}

.fa-icon i:hover{
    font-size: 2em;
}
.fa-icon-fb i:hover{
    color:#3a5795;
}

.fa-icon-linkedin i:hover{
    color:#006fa6;
}

/*.fa-icon-git i:hover{
    color:white;
}*/

.background-control{
    margin:0px 10px 0px 0px;
}
.all-control:hover{
    font-size: 1.2em;
}
.starting-control{
    color:gray;
}
.sub-page-nav-bar{
    font-size:14px;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.horizotal-centre{
    text-align: center;
}
.sub-page-button{
    font-size:20px;
}
