<nav class="navbar navbar-default navbar-fixed-top topbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Yifan Home Page</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand whitefont" href="#">Yifan Home Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right whitefont">
          <li><a href="#about" class = "whitefont">About</a></li>
          <li><a href="#project" class = "whitefont">Projects</a></li>
          <li><a href="#research" class = "whitefont">Research</a></li>
          <li><a href="#cca" class = "whitefont">Personal Hobbies/Co-curriculum Activities</a></li>   
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "landing" >
  <div class = "landing-inner">
    <div class = "landing-content">
      <h1 style="margin: 0; padding: 0;"><a href="#" style = "color:white; font-size:80px">Xing Yifan</a></h1>
      <p>ISE && CS Student From NUS</p>
      <a href="http://www.linkedin.com/profile/view?id=AAIAABZfkdkB8aPj7SZX4VbkyZxEnerRYS1yRQQ&trk=nav_responsive_tab_profile" class = "fa-icon fa-icon-linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a> | 
      <a href="https://github.com/Jim61C" class = "fa-icon fa-icon-git" target="_blank"><i class="fa fa-github-square"></i></a> |
      <a href="https://www.facebook.com/yifan.xing1" class = "fa-icon fa-icon-fb" target="_blank"><i class="fa fa-facebook-official"></i></a>

    </div>

    <div class = "landing-content landing-content-control">
      <i id ="control1" class="fa fa-circle-o background-control all-control starting-control"></i>
      <i id ="control2" class="fa fa-circle-o background-control all-control"></i>
      <i id ="control3" class="fa fa-circle-o background-control all-control"></i>
      <i id ="control4" class="fa fa-circle-o background-control all-control"></i>
      <i id ="control5" class="fa fa-circle-o all-control"></i>
    </div>
  </div>
</div>

<div id = "about" class = "sector">
  <div class = "container">
      <div class="thumbnail">
        <div class = "about-content-img">
          <img src="assets/img/profile.jpg" class = "profile">
        </div>
        <div class="about-content-text">
          <h3>About Myself:</h3>
          <p class = "about-text">
            I am a double degree student from National University of Singapore (NUS) studying Computer Science (CS) and Industrial System Engineering (ISE). <br>
            I enjoy creating solutions to real world problems with cool technologies. <br>
            In particular, I am interested in playing around with JS. <br>
            Also, I love AI and Computer Vision related technologies.
          </p>
        </div>
      </div>
  </div>
</div>

<div id = "project" class = "sector">
  <div class = "container">
    <h1>Projects</h1>
    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>Football Game Tracker</h2>
        <p>A application based on computer vision techniques like stiching, tracking and mapping to combine football videos taken from differnt angles as one panorama and convert the game to top down view for players' statistical analysis</p>
        <p><a class="btn btn-primary btn-lg" href="./2015/11/footballgame.html" role="button">Learn more</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2015 Fall</span>
      </div>
    </div>

    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>Diabetes Readmission Prediction</h2>
        <p>A Study on Diabetes patients' readmission rate prediction based on machine learning techniques</p>
        <p><a class="btn btn-primary btn-lg" href="./2015/4/diabetesprediction.html" role="button">Learn more</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2015 Spring</span>
      </div>
    </div>

    <div id= "quirrel" class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>QUIRREL</h2>
          <p>A CSI: Customer Sales Intelligence for SMEs to genrate business leads</p>
          <p><a class="btn btn-primary btn-lg" href="./2014/11/quirrel.html" role="button">Learn more</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2014 Fall</span>
      </div>
    </div>

    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>COINCIDE</h2>
          <p>A online Drag and Drop IDE for Children to pick up programming concepts</p>
          <p><a class="btn btn-primary btn-lg" href="./2014/11/coincide.html" role="button">Learn more</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2014 Fall</span>
      </div>
    </div>

    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>EZSaving</h2>
        <p>A Mobile Web Application for expense planning and tracking</p>
        <p><a class="btn btn-primary btn-lg" href="./2014/11/ezsaving.html" role="button">Learn more</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2014 Fall</span>
      </div>
    </div>

    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>NehJioMe!</h2>
        <p>An anonymous website for indicating interest to people you want to connect on facebook</p>
        <p><a class="btn btn-primary btn-lg" href="./2014/11/nehjiome.html" role="button">Learn more</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2014 Fall</span>
      </div>
    </div>

    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>GEO-LOCATION</h2>
        <p>A Web Visualiser for Geolocations of domain name servers over the world</p>
        <p><a class="btn btn-primary btn-lg" href="./2014/4/geolocation.html" role="button">Learn more</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2014 Spring</span>
      </div>
    </div>
  </div>
</div>

<div id = "research" class = "sector">
  <div class = "container">
    <h1>Research</h1>
    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>Computer Vision: A Noval Approach in Wide Baseline Matching: Extracting Unique Features from a Scene</h2>
        <p>Extracting Unique Features of the same scene instead of Extracting good features like SIFT and SURF features might result in more efficient correspondence matching procedure based on a wide baseline set up.</p>
        <p><a class="btn btn-primary btn-lg" href="pdf/CP4101.pdf" role="button" target="_blank">Detailed Report</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2015 Fall</span>
      </div>
    </div>

    <div class="jumbotron">
      <div class = "jumbotron-content-div">
        <h2>Machine Learning: Vessel Trajectory modelling for Singapore Port</h2>
        <p>Trajectory modeling for vessel tracking in Singapore port based on Machine Learning techniques. This model is further used as an input for a vessel collision detecion application.</p>
        <p><a class="btn btn-primary btn-lg" href="pdf/IE4100.pdf" role="button" target="_blank">Interim Report</a></p>
      </div>
      <div class = "jumbotron-ts-div">
        <span class="label label-info">2015 Fall</span>
      </div>
    </div>
  </div>
</div>

<div id = "cca" class = "sector">
  <div class = "container">
    <div class = "thumbnail">
      <h1>Hobbies/Co-Curriculum Activities</h1>
      <div class = "about-content-img cca-img">
          <img src="assets/img/profile_violin.jpg" class = "profile">
      </div>
      <div class="about-content-text">
          <h3>Violin and NUSSO:</h3>
          <p class = "about-text">
            I am a violinist and I started at an age of 6. Though amateur, I enjoy playing music with a group of friends. Having been in National University of Singapore Symphony Orchestra (NUSSO) for 4 years, I have got acquainted with a great group of friends who are also enthusiasitic about both classic and pop music.
          </p>
       </div>

      <div class = "about-content-img cca-img top-space bottom-space">
          <img src="assets/img/GDG_namecard_front.jpg" class = "profile bottom-space">
          <img src="assets/img/GDG_namecard_back.jpg" class = "profile">
      </div>
      <div class="about-content-text top-space bottom-space">
          <h3>Logistics Officer NUS GDG:</h3>
          <p class = "about-text">
            In NUS Games Development Group (NUS GDG), we create games with a group of friends who are enthusiastic about game design. We have annual events like GAME-CRAFT: a 24 hour game creation hackathon for students who are interested in creating games in Singapore. As logistics officer, I often manage these activities and the weekly meetings that we have in GDG.
          </p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
